<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Semtiment Detect </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body class="bg-light">

      {% include 'navbar.html' %}
      <div class="row">
        {% block body %} {% endblock %}
      </div>
      <!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Application developed by
      <a href="https://www.facebook.com/satish.mankar.528" target="_blank"> Satish Mankar</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>
